---
name: Example

on: [push, pull_request]

jobs:
    build:
        runs-on: ubuntu-latest

        permissions:
            contents: write

        steps:
            - uses: actions/checkout@v5
              with:
                  ref: ${{ github.head_ref }}
            - uses: actions/setup-python@v5
              with:
                  python-version-file: pyproject.toml
            - uses: astral-sh/setup-uv@v6
              with:
                  enable-cache: true
            - run: uv sync --all-extras --dev
            - uses: ibiqlik/action-yamllint@v3
            - uses: astral-sh/ruff-action@v3
              with:
                  version: latest
            - run: ruff check --fix
            - run: ruff format
            - run: uv run basedpyright
            - uses: stefanzweifel/git-auto-commit-action@v6
